* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.hero {
    display: flex;
    justify-content: center;
    flex-direction: column;

    align-items: center;
    margin-top: 120px;
    /* padding-bottom: 80px; */
    /* width: min(90%, 1440px);
    margin-inline: auto; */
}

.heroI {
    height: 100%;
    width: 110vh;
}
.title {
    width: 800px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.title h2 {
    font-size: 4.5rem;
    font-family: var(--bebas-neue);

    color: var(--cream);
}
.titlep {
    font-size: 2rem;
    color: #b0b0b0;
    font-family: var(--mori);
}

.button {
    color: var(--cream);
}
.button button {
    width: 180px;
    height: 54.67px;
    left: 133px;
    top: 860px;
    background: linear-gradient(85.78deg, #1d09bd -23.77%, #eb01e3 110.4%);
    border-radius: 24px;
}
