/* Rubik */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap");

/* BeVietnam */

@font-face {
    font-family: "Capital";
    src: url(./assets/fonts/BeVietnam-Black.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Bebas-Neue";
    src: url(./assets/fonts/BebasNeue-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mori";
    src: url(./assets/fonts/PPMori-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mori";
    src: url(./assets/fonts/PPMori-RegularItalic.otf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Mori";
    src: url(./assets/fonts/PPMori-SemiBold.otf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Mori";
    src: url(./assets/fonts/PPMori-SemiBoldItalic.otf);
    font-style: italic;
    font-weight: bold;
}

:root {
    /* colors */
    --white: #ffffff;
    --black: #000000;
    --orange: #fd6116;
    --lightOrange: #ffc7c8;

    /* fonts */
    --mori: "Mori";
    --bebas-neue: "Bebas-Neue";
    --rubik: "Rubik", sans-serif;
    --capital: "Capital";
}

html {
    background: white;
}

body {
    width: min(90%, 1440px);
    margin-inline: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--cream);
}

span {
    display: inline-block;
}
