@font-face {
    font-family: "Bebas-Neue";
    src: url(./assets/fonts/BebasNeue-Regular.ttf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mori";
    src: url(./assets/fonts/PPMori-Regular.otf);
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: "Mori";
    src: url(./assets/fonts/PPMori-RegularItalic.otf);
    font-style: italic;
    font-weight: normal;
}

@font-face {
    font-family: "Mori";
    src: url(./assets/fonts/PPMori-SemiBold.otf);
    font-style: normal;
    font-weight: bold;
}

@font-face {
    font-family: "Mori";
    src: url(./assets/fonts/PPMori-SemiBoldItalic.otf);
    font-style: italic;
    font-weight: bold;
}

:root {
    /* colors */
    --cream: #ffffff;
    --black: #000000;
    --white: #ffffff;

    /* fonts */
    --mori: "Mori";
    --bebas-neue: "Bebas-Neue";
}

html {
    background: radial-gradient(
        115.05% 275.33% at 3.47% 8.73%,
        #4d0775 0%,
        #251337 22.71%,
        #040013 47.19%,
        #1a0229 65.21%,
        #2a033f 82.41%
    );
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

body {
    width: min(90%, 1440px);
    margin-inline: auto;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: white;
}

ul {
    list-style: none;
}

a {
    display: inline-block;
    text-decoration: none;
}

span {
    display: inline-block;
}
